In [2]:
import pandas as pd
import numpy as np

In [1]:
# 任务1： 将列表转化为Numpy数组
data0 = [2, 4, 6.5, 8]
arr0 = np.array(data0)

In [ ]:
# 任务2： 新建Pandas中的Series数据类型，打印出其大小、索引值、值

In [27]:
# pandas中的Series数据类型
s = pd.Series(data=[100, 'a', { 'dic1': 5 }],
              index=pd.Index(['id1', 20, 'third'], name='my_idx'),
              dtype='object',
              name='my_name')

In [19]:
s2 = pd.Series(["1","2","3","4"])

In [12]:
s2.index.values

array([0, 1, 2, 3], dtype=int64)

In [20]:
type(s2.values[0])

str

In [26]:
s2.shape

(4,)

In [22]:
s2.size

4

In [28]:
# 任务3： 创建DataFrame类型的数据，并获取其索引、值及表大小
d = {
    "one": pd.Series([1.0, 2.0, 3.0], index=["a", "b", "c"]),
    "two": pd.Series([1.0, 2.0, 3.0, 4.0], index=["a", "b", "c", "d"]),
}
df = pd.DataFrame(d)

In [29]:
d1 = {
    "作者":pd.Series(['余华','残雪','莫言']),
    "作品":pd.Series(['活着','暗夜','红高粱']),
    "价格":pd.Series([35,72,38]),
}
df2 = pd.DataFrame(d1)

In [31]:
df2.index.values

array([0, 1, 2], dtype=int64)

In [33]:
df2.shape

(3, 3)

In [32]:
df2.size

9

In [34]:
df2['作品']

0     活着
1     暗夜
2    红高粱
Name: 作品, dtype: object

In [35]:
df2[['作者','价格']]

   作者  价格
0  余华  35
1  残雪  72
2  莫言  38

In [38]:
df2.values

array([['余华', '活着', 35],
       ['残雪', '暗夜', 72],
       ['莫言', '红高粱', 38]], dtype=object)